
# generic
*.tmp
*.swp
*.pyc
*.pyo
*.bak
*.egg-info
*.EGG-INFO
.coverage
.settings

# eclipse
.project
.pydevproject

# setuptools
bin/
build/
dist/

# buildout
setup.py
.installed*.cfg
.cache/
eggs/
develop-eggs/
parts/
build/
dist/
src/infi/exceptools/__version__.py
src/infi.exceptools.egg-info/
bootstrap.py

# scm
.bzr/
.svn/
.hg/

.cache
eggs
parts
